---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const defaultOgImage = `${Astro.url.origin}/og-image-default.jpg`;
const defaultOgImageAlt =
  "Paddy O'Hanlon with an arm out-stretched, palm facing upwards, with a code icon hovering and emitting blue light";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <link rel="canonical" href={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={title} />
    <meta property="og:image" content={defaultOgImage} />
    <meta property="og:image:alt" content={defaultOgImageAlt} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={defaultOgImage} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:creator" content="@paddy" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" />
    <meta name="theme-color" content="#041320" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
